<div class="panel_izquierdo">
	<ul>
		<li><a href="principal.php?ordenamiento=0&orden=0">Home</a>
		</li>
		<li><br>
		</li>
		<li><a href="principal.php?ordenamiento=1">Toner por Marca</a>
		</li>
		<li><a href="principal.php?ordenamiento=2">Toner por Modelo</a>
		</li>
		<li><br>
		</li>
		<li><a href="principal.php?ordenamiento=3">Toner por Fecha Ingreso</a>
		</li>
		<li><br>
		</li>
		<li><a href="principal.php?ordenamiento=4">Toner por Fecha Egreso</a>
		</li>
		<li><br>
		</li>
		<li><a href="principal.php?ordenamiento=5">Toner por Tarea</a>
		</li>
		<li><br> <br>
		</li>
		<li><a href="formulario.php?ordenamiento=0"> Presente Su Problema </a>
		</li>
		<li><br> <br> <br> <br>
		</li>
		<li><a href="logout.php">Salir</a>
		</li>
	</ul>

</div>
