.logo {
    float: right;
}

div.body {
    width: 100%;
    height: 100%; 
}
/*----------------------------------------------------------------------------*/

div.menu {
    width: 100%;
    height: 80px;
    border-bottom-style: solid;
    background-color: activeborder;
    font-style: italic;
}

div.menu h1 {
    font-family: monospace;
    font-size: large;
    color: red;
    text-align: left;
}

div.menu h2 {
    font-size: x-small;
    color: gray;
    text-align: left;
}

div.menu ul {
    background-color: activeborder;
}

div.menu li {
    display: inline;
    padding: 1px 30px;
    margin-left: 45px;
    background-color: activeborder;
    color: blue;
    cursor: pointer;
}

div.menu li:visited {
    color: activeborder;
}
/*----------------------------------------------------------------------------*/

div.panelIzquierdo {
    width: 20%;
    min-height: 450px; 
    background-color: activeborder;
    border: 0px;
    float: left;
}

div.panelIzquierdo h1 {
    font-size: medium;
    color: red;
    text-align: center;
}

div.panelIzquierdo a {
    color: navy;
}

div.panelIzquierdo a:visited {
    text-decoration: underline overline;
    color: black;
}
/*----------------------------------------------------------------------------*/

div.contenido{
    width: 70%;
    min-height: 450px; 
    background-image: url("../imagenes/pared.gif");   
    float: left;
}

div.contenido img {
    width: 100px;
    height: 100px;
    padding-left: 11px;
    padding-top: 7px;
}
/*----------------------------------------------------------------------------*/

div.panelDerecho{
    width: 10%;
    min-height: 450px; 
    background-color: activeborder;
    float: right;
}

div.panelDerecho h1 {
    font-size: medium;
    color: green;
    text-align: center;
}
/*----------------------------------------------------------------------------*/

div.pie{
    width: 100%;
    background-color: activeborder;
    clear: both;
    font-style: italic;
    font-size: small;
    color: green;  
}

div.pie li {
    display: inline;
    padding: 1px 30px;
    margin: 45px;
    background-color: activeborder;
    color: green;
    cursor: pointer;
}

div.pie li:visited {
    color: activeborder;
}
/*----------------------------------------------------------------------------*/

div.contenidoEmpresa {
    width: 70%;
    min-height: 450px; 
    background-image: url("../imagenes/pared.gif");    
    float: left;
}

div.contenidoEmpresa ul {
    list-style: inside;
    list-style-type: none;
}

div.contenidoEmpresa h1 {
    font-style: italic;
    color: teal;
    font-size: small;
    text-align: right;
    margin-right: 10px;
    padding-top: 10px;
}

div.gmapa {
    width: 800px;
    height: 340px;
    size: auto;
    margin-left: 5px;
    border-style: dotted;
}
/*----------------------------------------------------------------------------*/

div.contenidoContacto {
    width: 70%;
    min-height: 450px; 
    background-image: url("../imagenes/pared.gif");    	
    float: left;
}

.formContacto h1 {
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    color: olive;
}

.formContacto h4 {
    font-size: x-small;
    text-align: right;
    font-style: italic;
    color: red;
}

.formContacto input {
    color: blue;
    cursor: pointer;
}
.formContacto label {
    font-size: x-small
}
/*----------------------------------------------------------------------------*/

div.contenidoCatalogo {
    width: 70%;
    min-height: 450px; 
    background-image: url("../imagenes/pared.gif");
    float: left;
}

div.contenidoCatalogo h1 {
    font-size: medium;
    text-align: center;
}

div.contenidoCatalogo h2 {
    font-size: large;
    color: red;
    text-align: center;
}

div.contenidoCatalogo h5 {
    font-size: small;
    color: red;
}

#divtablaproductos {
    color: black;
}

.tablaproductos {
    border-width: 1px;
    border-spacing: 0px;
    border-style: outset;
    border-color: black;
    border-collapse: separate;
    background-color: white;
}

.tablaproductos th {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: silver;
}

.tablaproductos td {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: transparent;
    background-image: url("../imagenes/pared.gif");
}

.tablaproductos h1 {
    text-align: center;
    color: blue;
    background-color: activeborder;
}

.tablaproductos h2 {
    text-align: left;
    color: green;
    font-size: medium;
}

.tablaproductos h3 {
    color: green;
    text-align: right;
    font-size: medium;
}

.tablaproductos img {
    width: 110px;
    height: 50px;
}

/*----------------------------------------------------------------------------*/
div.paginadoLeft{
    width: 20%;
    background-color: activeborder;
    border: 0px;
    float: left;
}

div.controlespaginado{
    width: 70%;
    background-color: activeborder;
    float: left;
}

div.paginadoRight {
    width: 10%;
    background-color: activeborder;
    float: left;
}
/*----------------------------------------------------------------------------*/

form.ingresar {
    width: 70%;
    min-height: 450px; 
    background-image: url("../imagenes/pared.gif");
    float: left;
}


form.ingresar h1 {
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    color: red;
}

form.ingresar h2 {
    font-size: small;
    text-align: left;
    font-style: italic;
    color: blue;
}

form.ingresar h4 {
    font-size: x-small;
    text-align: right;
    font-style: italic;
    color: red;
}

form.ingresar input {
    color: blue;
    cursor: pointer;
}
/*----------------------------------------------------------------------------*/

.foto {
    width: 100px;
    height: 100px;

    -webkit-transition:background-color 0s linear;
    -moz-transition:background-color 0s linear;

    -webkit-transition:-webkit-transform 0s linear;
    -webkit-transform: scale(1, 1);

    -moz-transition:-moz-transform 0s linear;
    -moz-transform: scale(1, 1);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}

.foto:hover {
    -webkit-transition:background-color 1s ease-in;
    -moz-transition:background-color 2s ease-in;
    z-index: 1;
    -webkit-transition:-webkit-transform 1s ease-in;
    -webkit-transform: scale(6,6);

    -moz-transition:-moz-transform 1s ease-in;
    -moz-transform: scale(6,6);
}
/*----------------------------------------------------------------------------*/

div.formIngresar {
    width: 70%;
    min-height: 450px; 
    background-image: url("../imagenes/pared.gif");    	
    float: left;
}

.formIngresar h1 {
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    color: olive;
}

.formIngresar h2 {
    font-size: small;
    text-align: left;
    text-decoration: underline;
    font-style: italic;
    color: olive;
}

.formIngresar h4 {
    font-size: x-small;
    text-align: right;
    font-style: italic;
    color: red;
}

.formIngresar input {
    color: blue;
    cursor: pointer;
}
/*----------------------------------------------------------------------------*/

div.contenidoMensajes {
    width: 100%;
    min-height: 450px; 
    background-image: url("../imagenes/pared.gif");
    float: left;
    
}