<!-- INCLUDE ./templates/cabecera.html -->
<!-- INCLUDE ./templates/panel_izquierdo.html -->



<div class="contextoprincipa">
    <div>
        <!-- BEGIN tituloprincipal -->
        <h5>-->USUARIO<--</h5><h4>-->{nombrecliente}, {apellidocliente}<--</h4>	
        <!-- END tituloprincipal -->
        <table class="tabla">
            <tr>
                <td><h2>Toner</h2></td>
                <td><h2>Marca</h2></td>
                <td><h2>Modelo</h2></td>
                <td><h2>fecha ing</h2></td>
                <td><h2>fecha egr</h2></td>
                <td><h2>Tarea</h2></td>
            </tr>
            <!-- BEGIN tablaprincipal -->
            <tr>

                <td><a href="fichatoner.php?ordenamiento=0&orden={nro_orden}">{nro_orden}</a></td>  
                <td><a href="fichatoner.php?ordenamiento=0&orden={nro_orden}">{marca}</a></td>
                <td>{modelo}</td>
                <td>{fechaingreso}</td>
                <td>{fechaegreso}</td>
                <td>{tarea}</td>    

            </tr>
            <!-- END tablaprincipal -->
        </table>
    </div>
</div>

<!-- INCLUDE ./templates/pie.html -->