<!-- INCLUDE ../../templates/admin/cabeceraAdmin.html -->
	<!-- INCLUDE ../../templates/admin/menuAdmin.html -->
	<!-- INCLUDE ../../templates/admin/menuGestionAdmin.html -->
	<div class="contenido">
		<!-- buscador de equipos -->
			<form action="buscar.php" method="POST" id="form" name="formulario" enctype="multipart/form-data">
				<div class="campo">
					<div class="header-campo">Tipo</div>
					<div class="dato-campo"><input type="text" size="30" name="tipo"/></div>
				</div>
				<div class="campo">
					<div class="header-campo">Modelo</div>
					<div class="dato-campo"><input type="text" size="30" name="modelo"/></div>
				</div>
				<div class="campo">
					<div class="header-campo">Marca</div>
					<div class="dato-campo"><input type="text" size="30" name="marca"/></div>
				</div>
				<div class="campo">
					<div class="header-campo">Nro de Serie</div>
					<div class="dato-campo"><input type="number" size="30" name="nro_serie"/></div>
				</div>
				<div class="campo">
					<div class="header-campo">Adquirido en</div>
					<div class="dato-campo"><input type="text" size="30" name="adquiridoen"/></div>
				</div>
				<div class="campo">
					<div class="header-campo">Nro de Factura</div>
					<div class="dato-campo"><input type="number" size="30" name="nrofactura"/></div>
				</div>
				<div class="campo">
					<div class="header-campo">Fecha de Compra</div>
					<div class="dato-campo"><input class="fecha" type="date" name="fechacompra"/></div>
				</div>
				<input id="change" name="search" type="hidden" value="1" />
				<div class="campo">
					<div class="header-campo">Buscar</div>
					<div class="dato-campo"><input type="submit" value="Buscar Equipo/s" /></div>
				</div>
			</form>
		<!-- Fin del buscador de equipos -->
		<script type="text/javascript">
			$('.fecha').datepicker({ dateFormat: "yy-mm-dd" });
		</script>
	</div>
<!-- INCLUDE ../../templates/admin/piedepaginaAdmin.html -->