<div class="menu menu-lateral">
	<a href="../Usuarios.php" title="Administrador de Usuarios">Usuarios</a>
	<a href="../Equipos.php" title="Administrador de Equipos">Equipos</a>
	<a href="../Ordenes.php" title="Administrador de Ordenes">Ordenes</a>
	<a href="../Consultas.php" title="Administrador de Consultas">Consultas</a>
	<a href="../Repuestos.php" title="Administrador de Repuestos">Repuestos</a>
	<a href="../ServiceOficial.php" title="Administrador de Service Oficiales">Service O.</a>
	<a href="../Noticias.php" title="Administrador de Noticias">Noticias</a>
</div>