<!-- INCLUDE /templates/head.html -->
<!-- INCLUDE /templates/superior.html -->
<!-- INCLUDE /templates/barramenu.html -->
<div id="contenido">
		<h2> Productos Disponibles... </h2>	
		<ul id="lista-productos">	
		<!-- BEGIN cuadro -->
			
				<li id="administracion">
					<div>
						<img src="{foto-cuadro}" />
						<a href="modificar_cuadro.php?id={id_cuadro}">modificar</a>
						<a href="eliminar_cuadro.php?id={id_cuadro}">eliminar</a>
					</div>
				</li>
			
		<!-- END cuadro -->
		</ul>
		
</div> 
<!-- INCLUDE /templates/footer.html -->