<div id="contenido">
		<div>
			<h3>Agregar un cuadro en Digital Art</h3>
				<form action="" method="post" enctype="multipart/form-data"> 
				<p><label>Titulo:<input type="text" name="titulo"/> </label></p>
					<p><label> Imagen <input type=file  name="foto"> </label></p>
					<p><label>Descripcion:<textarea  name="descripcion"/></textarea> </label></p>
					<div> <?php echo $mens_er?></div>
					<p><label><input type="submit" name="enviar" value="enviar "/> </label></p>
				 </form>
		</div> 
		<a href="panel.php">VOLVER AL PANEL </a>
		</div> 