<div id="contenido">
		<div>
		<ul class="menubotonespanel">
			<li><a href="agregar_cuadro.php"> AGREGAR UN CUADRO</a></li>
			<li><a href="agregar_expos.php">AGREGAR UNA EXPOSICION </a></li>
			<li><a href="eliminar_cuadro.php">ELIMINAR UN CUADRO </a></li>
			<li><a href="eliminar_expos.php">ELIMINAR UNA EXPOSICION</a></li>
			<li><a href="modificar_cuadro.php">MODIFICAR UN CUADRO</a></li>
			<li><a href="modificar_expos.php">MODIFICAR UNA EXPOSICION</a></li>
			<li><a href="index.php">SALIR </a></li>
		</ul>
		</div> 
</div> 