<!-- INCLUDE /templates/head.html -->
<!-- INCLUDE /templates/superior.html -->
<!-- INCLUDE /templates/barramenu.html -->
<div id="contenido">
		<div>
			<h3>Eliminar una exposicion en Digital Art</h3>
				<form action="" method="post" enctype="multipart/form-data"> 
				<p>Titulo:{titulo}</p>
				
				<img src="{foto}"/>
				<p>Descripcion:{descripcion}</p>
					
					<p><label><input type="submit" name="eliminar" value="eliminar"/></label></p>
				 </form>
		</div> 
		<a href="panel.php">VOLVER AL PANEL </a>
		</div> 
<!-- INCLUDE /templates/footer.html -->