<!-- INCLUDE /templates/head.html -->
<!-- INCLUDE /templates/superior.html -->
<!-- INCLUDE /templates/barramenu.html -->
<div id="contenido">
		<div>
			<h3>Ingreso a panel administrativo del sitio</h3>
				<form action="" method="post"> 
				<p><label>Nombre Usuario:<input type="text" name="usuario"/> </label></p>
						<p><label> Pasword: <input type="password" name="password"/> </label></p>
							<!-- BEGIN mensaje_error -->
							<div>{mens_er}</div>
							<!-- END mensaje_error -->
						<p><label><input type="submit" name="enviar" value="enviar "/> </label></p>
				 </form>
		</div> 
		<a href="../index.php">VOLVER AL SITIO WEB </a>
		</div> 
<!-- INCLUDE /templates/footer.html -->