<!-- INCLUDE /templates/head.html -->
<!-- INCLUDE /templates/superior.html -->
<!-- INCLUDE /templates/barramenu.html -->
<div id="contenido">
		<div>
			<h3>Esta por modificar un Cuadro en Digital Art</h3>
				<form action="" method="post" enctype="multipart/form-data"> 
				<!-- BEGIN modificar_cuadro -->
				<p><label>Titulo:<input type="text" name="titulo" value="{titulo}"/> </label></p>
					<p><img src="{path-imagen}"/></p>
					<p><label> Imagen <input type=file name="foto"> </label></p>
					<p><label>Descripcion:<textarea  name="descripcion"/>{descripcion}</textarea> </label></p>
				<!-- END modificar_cuadro -->
					<!-- BEGIN mensaje_error -->
					<div>{mens_er}</div>
					<!-- END mensaje_error -->
					<p><label><input type="submit" name="modificar" value="modificar "/> </label></p>
				 </form>
		</div> 
		<a href="panel.php">VOLVER AL PANEL </a>
		</div> 
<!-- INCLUDE /templates/footer.html -->