<body>
	<div id="container">
		<div id="header">
			<div class="logo">
				<a href="index.php">logo</a>
			</div>	
			<!-- BEGIN header -->
			<h1>{titulo}</h1>
			<div class="publica-anuncio-gratis">
				<a href="publicar-anuncio-paso1.php?ubicacion={ubicacion}&amp;categoria={categoria}&amp;subcategoria={subcategoria}">Publica tu anuncio clasificado gratis</a>
			</div>
			<form id="buscador">
				<input type="text" name="texto" id="entrada-buscador" value="buscador en construccion"/>
				<input type="submit" name="enviar" value="Buscar"/>
			</form>
			<!-- END header -->
		</div>
		<div id="content">