<div id="content">
	<div id="navegacion">
		<ul>
		<!-- BEGIN navegacion -->
			<li>
				» <a href="index.php">Argentina</a>
			</li>		
			<!-- BEGIN navegacion_provincia -->
			<li>
				» <a href="{link_provincia}">{provincia}</a>				
			</li>
			<!-- END navegacion_provincia -->
			<!-- BEGIN navegacion_ciudad -->
			<li>		
				» <a href="{link_ciudad}">{ciudad}</a>
			</li>
			<!-- END navegacion_ciudad -->
			<!-- BEGIN navegacion_categoria -->
			<li>			
				» <a href="{link_categoria}">{categoria} en {ubicacion}</a> 
			</li>
			<!-- END navegacion_categoria -->
			<!-- BEGIN navegacion_subcategoria -->
			<li>		
				» <a href="{link_subcategoria}">{subcategoria} en {ubicacion}</a>
			</li>	
			<!-- END navegacion_subcategoria -->
			<!-- BEGIN navegacion_clasificado -->
			<li>
				» {titulo_clasificado}
			</li>
			<!-- END navegacion_clasificado -->
		<!-- END navegacion -->
		</ul>
	</div>