	<h2>Publica tu aviso clasificado gratis</h2>
	<!-- BEGIN paso2 -->
	<p>Publicar clasificado gratis de <b>{nombre_subcategoria}</b> en 
	<b>{nombre_municipio}, {nombre_provincia}</b> 
	(<a href="{link_cambiar}">cambiar</a>)</p>
	<div class="contenedor-paso1">
		<form id="publicar-anuncio-paso2" action="publicar-anuncio-paso2.php" method="post" enctype="multipart/form-data">
			<div class="caja-paso1">					
				<div class="caja-paso2-interior">
					<h4>Titulo</h4>
					<input name="titulo" id="titulo"></input>
					<p>70 caracteres restantes</p>
				</div>				
			</div>					
			<div class="caja-paso1">				
				<div class="caja-paso2-interior">
					<h4>Descripcion</h4>
					<textarea name="detalle" id="descripcion"></textarea>
				</div>		
			</div>
			<div class="caja-paso1">				
				<div class="caja-paso2-interior">
					<h4>Precio <span class="opcional">(opcional)</span></h4>
					<input name="precio" id="precio"></input>
					<select name="moneda" id="moneda">
						<option value="pesos" selected="selected">Pesos</option>
						<option value="dolares">Dolares</option>
					</select>
				</div>		
			</div>
			<div class="caja-paso1">				
				<div class="caja-paso2-interior">
					<h4>Fotos (Hasta 3 archivos con extension .jpg) <span class="opcional">(opcional)</span></h4>
					<input type="file" name="foto1" id="foto1"></input>
					<input type="file" name="foto2" id="foto2"></input>
					<input type="file" name="foto3" id="foto3"></input>
				</div>		
			</div>
			<div class="caja-paso1">				
				<div class="caja-paso2-interior">
					<h4>Telefono (Sin la caracteristica)<span class="opcional">(opcional)</span></h4>
					<input name="telefono" id="telefono"></input>
				</div>		
			</div>
			<div class="caja-paso1">				
				<div class="caja-paso2-interior">
					<h4>E-mail</h4>
					<input name="email" id="email"></input>
					<p>Tu direccion de email no sera publicada</p>
				</div>		
			</div>
			<div>
				<input type="hidden" name="categoria" value="{id_categoria}"></input>
				<input type="hidden" name="subcategoria" value="{id_subcategoria}"></input>
				<input type="hidden" name="provincia" value="{id_provincia}"></input>
				<input type="hidden" name="municipio" value="{id_municipio}"></input>
			</div>
			<div class="caja-paso1">
				<input name="enviar-paso2" id="enviar-paso1" type="submit" value="Publicar anuncio!"></input>
			</div>
		</form>
	</div>
	<!-- END paso2 -->
</div>			