@import url(reset.css);
@import url(../fonts/open-sans-condensed/stylesheet.css);

body {
	background-image: url('../images/bg2.png');
	font-family: 'OpenSansCondensedLight';
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

/********************************************************/

#wrapper {
	margin: 0 auto;
	width: 1200px;
}

#header-wrapper {
	height: 100px;
	background-color: #111111;
	margin-top: 1.5em;
	color: #4C4C4C;
	box-shadow: 0.5em 0.5em 1em #444444;
	border-radius: 5px;
}

#logo {
	display: inline;
	float: left;
	padding-top: 2em;
	margin-left: 3em;
}

#site-nav {
	display: inline;
	float: right;
	list-style: none;
	margin: 0;
	padding-top: 2em;
}

.nav-item {
	float: left;
	margin-right: 3em;
}

.nav-link {
	text-decoration: none;
	color: silver;
	font-size: 30px;
}

.nav-link:hover {
	color: white;
}

/********************************************************/

#main-wrapper {
	margin-top: 2em;
	width: 1200px;
}

#sidebar {
	float: left;
	width: 215px;
	margin-bottom: 2em;
}

#sidebar > * {
	background-color: white;
	box-shadow: 0.5em 0.5em 1em #444444;
}

#login {
	margin-bottom: 16px;
	overflow: auto;
	border-radius: 5px;
}

#content-wrapper {
	width: 955px;
	float: right;
	background-color: white;
	box-shadow: 0.5em 0.5em 1em #444444;
	margin-bottom: 2em;
	overflow: auto;
	padding-bottom: 1.5em;
	border-radius: 5px;
}

#categories {
	padding-bottom: 1.5em;
	overflow: auto;
	border-radius: 5px;
}

/********************************************************/

.home {
	font-size: 30px;
	padding: 1.5em;
}

/********************************************************/

.producto {
	height: 160px;
	font-size: 20px;
	padding: 1.5em 1.5em 0 1.5em;
	clear: both;
}

.producto:last-child {
	padding-bottom: 1.5em;
}

.imagen {
	float: left;
}

.descripcion {
	margin-left: 180px;
}

/********************************************************/

#categories > ul {
	list-style: circle;
	margin: 0;
	padding: 1.4em 1em 1em 3em;
}

.categoria {
	margin: 5px 0 5px 0;
}

.categoria:hover {
	list-style: disc;
}

.categoria > a {
	text-decoration: none;
	color: black;
	-webkit-transition: padding-left 0.2s;
	-moz-transition: padding-left 0.2s;
	-ie-transition: padding-left 0.2s;
	-o-transition: padding-left 0.2s;
	transition: padding-left 0.2s;
}

/********************************************************/

.formulario {
	font-size: 20px;
	padding: 1.5em;
}

#nombre, #mail, #consulta, #usuario, #contrasena {
	font-family: 'OpenSansCondensedLight';
	font-size: 22px;
	padding-left: 4px;
	background-color: #e3e3e3;
	border: 1px solid #bbb;
}

#nombre, #mail, #usuario, #contrasena {
	margin-left: 6px;
	width: 300px;
}

#mail {
	width: 310px;
}

#contrasena {
	width: 347px;
}

#consulta {
	width: 435px;
	height: 150px;
}

.boton {
	background: #e3e3e3;
	border: 1px solid #bbb;
	border-radius: 3px;
	color: #333;
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	padding: 8px 0 9px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 150px; 
}

.boton:hover {
	background: #d9d9d9;
	color: #222;
	cursor: pointer; 
}

.boton:active {
	background: #d0d0d0;
	color: #000; 
}

/********************************************************/

#login > input, #login > button{
	margin-left: 31.5px;
}

#login > input {
	font-family: 'OpenSansCondensedLight';
	font-size: 22px;
	padding-left: 4px;
	background-color: #e3e3e3;
	border: 1px solid #bbb;
	width: 144px;
}

#newUser {
	margin-top: 1em;
}

#botonLogout {
	margin-top: 1em;
}