<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Panel Administrativo de Yastay clasificados</title>
</head>

<body>
	<h1>Panel Administrativo de Yastay clasificados</h1>
    <div>
    <!-- BEGIN clasificados -->
    	<p>En la base de datos hay {cantidad} clasificados cargados.</p>
    </div>
    <!-- END clasificados -->
    <a href="../index.php">volver a Yastay Clasificados</a>
</body>
</html>