<html> 
<head>
	<meta name="Description" content="Tandil Inmobiliario es un portal que reune a todas las inmobiliarias de la cidad de Tandil, 
	como tambien a los usuarios particulares, brindandoles una bundante cantidad de informacion de viviendas, alquileres, campos etc." >
	<meta name="Robots" content="all" >
	<title>Tandil Inmobiliario</title>
	<link rel="stylesheet" href="./css/estilos.css" type="text/css">
	<script type="text/JavaScript" src="validar.js"></script>
</head><body>

	<div id = "wrap">
	<div id = "cont">
	<div id = "header">
	</div>
	<div id = "submenu">
	<!-- BEGIN submenu_login -->
	<div id="usuario">Usuario: <b>{usuario}</b></div>
	<!-- END submenu_login -->
	</div>
	<div id = "cont_central">
	

<ul id= "menu" >
		<li><a href = "Index.php" >Inicio</a></li> 
		<li><a href ="Buscar_Inmueble.php">Buscar Inmueble</a></li>
		<li><a href = "Cargar_Inmueble.php" > Cargar Inmueble</a></li>
		<li><a href = "Registrarse.php" > Registrarse </a></li>
		<li><a href = "Contactenos.php" > Contactenos </a></li>
		<!-- BEGIN menu_login -->
		<li><a href = "login.php" > Login </a></li>
		<!-- END menu_login -->
		<!-- BEGIN menu_logout -->
		<li><a href = "logout.php"> Logout </a></li> 
		<!-- END menu_logout -->
</ul><br>
