<!-- INCLUDE /templates/header.html -->
<div id= "formregistro">
		<form name="Registrarse" form action = "Registrarse.php" method = "post">
			<h6>Registrate</h6>
		<h1>
			<p>Nombre <input type = "text" name = "nombre" size= "15" </input><br></p>
			<p>Apellido <input type = "text" name = "apellido" size= "15" </input><br></p>
			<p>DNI <input type = "text" name = "dni" size= "15" </input><br></p>
			<p>Fecha de nacimiento <input type = "text" name = "fecha" size= "15" </input><text>---->Formato valido YYYY-MM-DD</text<br></p>
			<p>Localidad <input type = "text" name = "localidad"  size= "15" </input><br></p>
			<p>Direccion <input type = "text" name = "direccion"  size= "15" </input><br></p>
			<p>Usuario <input type = "text" name = "usuario"  size= "15" </input><br></p>
			<p>Contrase&ntilde;a <input type = "password" name = "password"  size= "15" </input><br></p>
			<p>REGISTRARSE <input type="submit" value="Enviar" onclick= "validarRegistrarse()"></p>
			<!-- INCLUDE /templates/notificaciones.html -->	
		</h1>	
        </form>  
</div>
<!-- INCLUDE /templates/footer.html -->