<!-- INCLUDE /templates/header.html -->
<table align= 'center' bgcolor ='#A8A8A8' whith ='400' border ='2' >
		
		<tr bgcolor = \#FFBF00\ > 
		        <td> 
					Campo
		        </td>
				<td> 
					Valor
		        </td>
		</tr>
		<tr> 
		        <td> 
					Nombre
		        </td>
				<td> 
					{nombre}
		        </td>
		</tr>
		<tr>	
				<td> 
					Apellido
		        </td>
				<td> 
					{apellido}
		        </td>
		</tr>	
		<tr>
				<td> 
					Dni
		        </td>
				<td> 
					{dni}
		        </td>
		</tr>
		<tr>
				<td> 
					Fecha de Nacimiento
		        </td>  
				<td> 
					{fecha_nacimiento}
		        </td>		
		</tr>
		<tr>
				<td> 
					Localidad
		        </td>
				<td> 
					{localidad}
		        </td>	
		</tr>
		<tr>		
				<td> 
					Direccion
		        </td>
				<td> 
					{direccion}
		        </td>	
		</tr>
		<tr>		
				<td> 
					Usuario
		        </td>
				<td> 
					{user}
		        </td>	
		</tr>
	
</table>
<!-- INCLUDE /templates/footer.html -->