<!-- INCLUDE ./templates/encabezadoAdministracion.html -->
<script type="text/javascript" src="./js/validar.js"></script>
<div id="contentAdministrar">
    <form class="formIngresar" method="post" action="./rutinas/updateRubro.php" onSubmit="return ValidarAdmFormRubro(this);">
        <div>
            <h1>Modificar Rubro</h1>
        </div>
        <br/>
        <div>
        <!-- BEGIN rubro_actualizar -->
            <h2>Rubro</h2> 
            <input type="text" readOnly size="20" name="id" value="{rubroId}"/>
            <h2>Nombre</h2> 
            <input type="text"  size="60" name="nombre" value="{rubroNombre}"/>
            <input type="submit" name="Modificar" value="Modificar"/>
        <!-- END rubro_actualizar -->
        </div>
    </form>
</div>
<!-- INCLUDE ./templates/piePaginaAdministracion.html -->