<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link href="./css/clicksi.css" rel="stylesheet" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="./js/validar.js"></script>
        <title>Click S. I.</title>
    </head>

    <body class="body">
        <div class="menu">
            <!-- INCLUDE ./templates/encabezadoAdministracion.html -->
        </div>
        
        <div class="panelIzquierdo">
        <!-- INCLUDE ./templates/menuAdministracion.html -->
            
        </div>
        
        <div class="panelDerecho">
        <!-- INCLUDE ./templates/novedades.html -->
            
        </div>

        <div class="contenido">
            <form method="post" action="admProductos.php">
                <input class="boton" type="submit" value="Buscar">
                <input type="text" size="60" value="{nombreBuscar}" name="nombreBuscar" id="nombreBuscar">
            </form> 

            <form class="formIngresar" method="post" action="admFormProducto.php?accion=ADD">
                <input class="boton" type="submit" value="Agregar" name="agregarProducto"/>
                <h1>Productos:</h1>    
                <hr>
                <ul class=menurubros>
                    <!-- BEGIN productos_administracion -->  
                    <li><a href='admFormProducto.php?accion=CHANGE&producto={productoId}'>{productoNombre}</a></li>
                    <!-- END productos_administracion -->  
                </ul>
            </form>
        </div>
        <div class="paginadoLeft">      
        <!-- BEGIN paginado -->         
        &nbsp;
        <!-- BEGIN paginado -->               
        </div>

        <div class="controlespaginado">
        <!-- BEGIN paginado -->         
            <a href='admProductos.php?pagina=0&nombreBuscar={nombreBuscar}'>Pagina Inicial</a> &VerticalBar;
            <a href='admProductos.php?pagina={pag_paginaAnterior}&nombreBuscar={nombreBuscar}'>Pagina Anterior</a> &VerticalBar;
            <a href='admProductos.php?pagina={pag_paginaSiguiente}&nombreBuscar={nombreBuscar}'>Pagina Siguiente</a> &VerticalBar;
            <a href='admProductos.php?pagina={pag_paginaUltima}&nombreBuscar={nombreBuscar}'>Ultima Pagina</a>
        <!-- BEGIN paginado -->               
        </div>
        <div class="paginadoRight">
        <!-- BEGIN paginado -->         
                P&aacute;g.: {pag_actual} / {pag_paginaUltima}
        <!-- BEGIN paginado -->               
        </div>
        
        <div class="pie">
                <!-- INCLUDE ./templates/piePaginaAdministracion.html -->    
        </div>
        
    </body>
</html>
