<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link href="./css/clicksi.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Click S. I.</title>
</head>
<body>
<div id="container">
    <div class="header">
        <img class="logo" alt="Click Soluciones Informáticas" src="./imagenes/Click.ico">
        <h1>Click S. I.</h1>
        <h2>Tandil</h2>
        <ul class="menuhoriz">
            <li><a href="index.php">Inicio</a></li>
            <li><a href="empresa.php">Empresa</a></li>
            <li><a href="contacto.php">Contacto</a></li>
            <li><a href="cerrarSesion.php">Salir</a>
        </ul>
    </div>
    <div class="leftPanel">
        <h1>Administración</h1>
        <ul class="menuAdministracion">
            <li><a href="admRubros.php">Rubros</a>
            </li>
            <li><a href="admProductos.php">Productos</a>
            </li>
        </ul>
    </div>
