<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link href="./css/clicksi.css" rel="stylesheet" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Click S. I.</title>
    </head>

    <body class="body">
        <div class="menu">
            <!-- INCLUDE ./templates/encabezado.html -->
        </div>
        
        <div class="panelIzquierdo">
        <!-- INCLUDE ./templates/rubros.html -->
            
        </div>
        
        <div class="panelDerecho">
        <!-- INCLUDE ./templates/novedades.html -->
            
        </div>

        <div class="contenido">
            <img alt="ibm_360" src="./imagenes/ibm360.jpg">
            <img alt="ibm_xt" src="./imagenes/ibm_xt.jpg">
            <img alt="ibm_at" src="./imagenes/ibm_pc_at.jpg">
            <img alt="ibm_as400" src="./imagenes/ibm_as400.gif">
            <img alt="lav1" src="./imagenes/lavadora1.jpg">
            <img alt="lav2" src="./imagenes/lavadora2.jpg">
            <img alt="diskette8" src="./imagenes/diskette8.jpg">
            <img alt="teclado" src="./imagenes/teclado.gif">
            <img alt="tablet" src="./imagenes/tablet.jpg">
            <img alt="cableado" src="./imagenes/cableado_estructurado.jpg">
            <img alt="notebook" src="./imagenes/notebookmsi.jpg">
            <img alt="metodologiadesarrollo" src="./imagenes/metodologiadesarrollo.jpg">            
        </div>
        
        <div class="pie">
                <!-- INCLUDE ./templates/piePagina.html -->    
        </div>
        
    </body>
</html>