<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<!-- BEGIN Cabecera -->
<link href="estilos/reset.css" media="screen" rel="StyleSheet" type="text/css">
<link href="estilos/screenMio.css" media="screen" rel="StyleSheet" type="text/css">
<link href="estilos/lightbox.css" media="screen" rel="StyleSheet" type="text/css">
<link href="estilos/ThemeSGT/jquery-ui-1.9.2.custom.min.css" media="screen" rel="StyleSheet" type="text/css">
<link href="estilos/estilos.css" media="screen" rel="StyleSheet" type="text/css">
{estilos}
<script type="text/javascript" src="js/validador.js"></script>
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
{scripts}
<title>Sistema de Gestion de Talleres - {titulo} </title>
</head>
<body onload="{onload}">
<div class="pagina">
	<header><div class="titulo">Sistema de Gestion de Talleres <br/>
			Servicios T&eacute;cnicos Leonardo Hidalgo</div>
<!-- END Cabecera -->