<div class="menu-lateral">
	<a href="/admin/Usuarios.php" title="Administrador de Usuarios">Administrar Usuarios</a>
	<a href="/admin/Equipos.php" title="Administrador de Equipos">Administrar Equipos</a>
	<a href="/admin/Ordenes.php" title="Administrador de Ordenes">Administrar Ordenes</a>
	<a href="/admin/Consultas.php" title="Administrador de Consultas">Administrar Consultas</a>
	<a href="/admin/Repuestos.php" title="Administrador de Repuestos">Administrar Repuestos</a>
	<a href="/admin/ServiceOficial.php" title="Administrador de Service Oficiales">Administrar Service O.</a>
	<a href="/admin/Noticias.php" title="Administrador de Noticias">Administrar Noticias</a>
</div>