<!-- INCLUDE /templates/cabecera.html -->
	<!-- INCLUDE /templates/menu.html -->
	<div class="contenido">
		<!-- BEGIN Consulta -->
		<form id="form" class="form-orden">
			<label>Orden Numero:</label><label id="nro_orden">{nro_orden}</label><br/>
			<label>Fecha de Ingreso:</label><label id="fecha_ingreso">{fecha_ingreso}</label><br/>
			<label>Equipo:</label><label id="tipo">{tipo}</label><br/>
			<label>Marca:</label><label id="marca">{marca}</label><br/>
			<label>Modelo:</label><label id="modelo">{modelo}</label><br/>
			<label>Nro de Serie:</label><label id="nro_serie">{nro_serie}</label><br/>
			<label>Fecha de Compromiso:</label><label id="fecha_prometido">{fecha_prometido}</label><br/>
			<label>Estado:</label><label id="estado">{estado}</label><br/>
		</form>
		<!-- END Consulta -->
	</div>
<!-- INCLUDE /templates/piedepagina.html -->