<!-- INCLUDE /templates/cabecera.html -->
	<!-- INCLUDE /templates/menu.html -->
	<div class="contenido">
		<!-- BEGIN Consulta -->
			<div class="campo">
				<div class="header-campo">Orden Numero:</div>
				<div class="dato-campo">{nro_orden}</div>
			</div>
			<div class="campo">
				<div class="header-campo">Fecha de Ingreso:</div>
				<div class="dato-campo">{fecha_ingreso}</div>
			</div>
			<div class="campo">
				<div class="header-campo">Equipo:</div>
				<div class="dato-campo">{tipo}</div>
			</div>
			<div class="campo">
				<div class="header-campo">Marca:</div>
				<div class="dato-campo">{marca}</div>
			</div>
			<div class="campo">
				<div class="header-campo">Modelo:</div>
				<div class="dato-campo">{modelo}</div>
			</div>
			<div class="campo">
				<div class="header-campo">Nro de Serie:</div>
				<div class="dato-campo">{nro_serie}</div>
			</div>
			<div class="campo">
				<div class="header-campo">Fecha de Compromiso:</div>
				<div class="dato-campo">{fecha_prometido}</div>
			</div>
			<div class="campo">
				<div class="header-campo">Estado:</div>
				<div class="dato-campo">{estado}</div>
			</div>
		<!-- END Consulta -->
	</div>
<!-- INCLUDE /templates/piedepagina.html -->