<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Venta de Productos Electronicos</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/lightbox/css/lightbox.css">
</head>
<body>
	<div id='wrapper'>
		<!-- header -->
		<div id='header-wrapper'>
			<div id='logo'>
				<a id='link1' href="php/home.php" class='nav-link'>Home</a></li>
			</div>
			<ul id='site-nav'>
				<li class='nav-item'>
					<a id='link2' href="php/novedades.php" class='nav-link'>Novedades</a></li>
				<li class='nav-item'>
					<a id='link3' href="php/listado.php" class='nav-link'>Listado</a></li>
				<li class='nav-item'>
					<a id='link4' href="php/consultas.php" class='nav-link'>Consultas</a></li>
				<li class='nav-item'>
					<a id='link5' href="php/registro.php" class='nav-link'>Registro</a></li>
			</ul>
		</div>
		<!-- main -->
		<div id='main-wrapper'>
			<div id='sidebar'>
				<div id='login'>