<!-- BEGIN listado -->
<div class='producto'>
	<div class='imagen'>
		<a href='images/productos/grandes/{nombre_imagen1}' rel='lightbox[{nombre}]' title='{nombre}'>
			<img src='images/productos/chicas/160/{nombre_imagen1}'>
		</a>
		<a href='images/productos/grandes/{nombre_imagen2}' rel='lightbox[{nombre}]' title='{nombre}' class='hidden'>
			<img src='images/productos/chicas/160/{nombre_imagen2}'>
		</a>
		<a href='images/productos/grandes/{nombre_imagen3}' rel='lightbox[{nombre}]' title='{nombre}' class='hidden'>
			<img src='images/productos/chicas/160/{nombre_imagen3}'>
		</a>
	</div>
	<div class='descripcion'>
		{nombre}<br>
		Caracteristicas: {caracteristicas}<br>
		Precio: {precio}
	</div>
</div>
<!-- END listado -->